#mainempty{
    height: 730px;
    width:100%;
    border:0px solid blue;
    display:flex;
    gap:30px;
    /* grid-template-columns: repeat(2,1fr); */
   justify-content: space-around;
   
    
}
#left{
    height:80%;
    width:65%;
    border:0px solid black;
    padding:10px
   

}
#left>div{
    padding: 5px;
    background-color:  #f0f1f7;
}
#left>div>p{
    height: 10px;
    font-size:16 px;
    /* padding:10px; */
   color:darkslategray;
   margin-top:0px;
   font-weight: bold;
   display:flex;
}

button{
    height:fit-content;
    border: #f0f1f7;
 
}
#shoe{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#right{
    background-color:  #f0f1f7;
    width:30%;
    border:0px solid #28305e;
    padding:20px;


